header {
  font-weight: bolder;
}

.menu {
    height: 40px;
    border: 2px solid rgb(20, 20, 20);
    background-color:rgb(255, 255, 255);
    padding-bottom: 8px;
    font-size: 10px;
    position: relative;  /* troquei as posições do position relative e fixed do .menu e .menu2  */
    top: 0;
    width: 100vw;
  }

  .menu2 {
    height: 40px;
    border: 2px solid rgb(14, 12, 11);
    background-color: rgb(255, 255, 255);
    padding-bottom: 15px;
    font-size: 16px;
    position: fixed;  
    top: 0;
    width: 100vw;
  }
  
  .navMenu ul,
  .navMenu2 ul  {
    list-style: none;
    text-align: center;
  }

  .navMenu li,
  .navMenu2 li {
    display: inline;
  }

  .navMenu ul li a,
  .navMenu2 ul li a {
    font-size: 20px;
    padding-left: 1.2vw;
    display: inline-block;
    color: #333;
    text-decoration: none;
  }
  
  .navMenu ul li a:hover,
  .navMenu2 ul li a:hover{
    color: blue;
    font-weight: bold;
    font-size: 22px;
  }